body, html {
  height: 100%;
  margin: 0;
}

.slider-container {
  display: flex;
  max-width: 1700px;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
}

.slide {
  flex: 0 0 100%;
  /* Кожен слайд займає 100% ширини контейнера */
  box-sizing: border-box;
  text-align: center;
}

.slider-btn {
  position: absolute;
  top: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #ec86ca;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin: 0 200px 0 200px;
}

.slide img {
  width: 45%;
  /* Забезпечуємо, щоб зображення займало 100% ширини слайда */
  height: auto;
  /* Забезпечуємо пропорційність зображення */

}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}